@model Assignment9.Controllers.TeamSearchForm

@{
    ViewBag.Title = "Search Players";
}

<h2>Search Team Database</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Enter part of or the whole teams name</h4>
        <hr />
        <script src="~/Scripts/App/core.js"></script>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SearchName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SearchName, new { htmlAttributes = new { @class = "form-control", @id = "searchText", @autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.SearchName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Search" class="btn btn-default" onclick="searchTeams(searchText.value)" />
            </div>
        </div>
        @*<div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>*@
    </div>
}
<div id="teamList"></div>
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}